@import "../variables";

.product-full {

	display: flex;
	justify-content: center;

	@media screen and (max-width: 800px) {
		flex-direction: column;
	}

	&__image {
		width: 25rem;
		height: 100%;
		margin: 1rem auto;

		@media screen and (max-width: 800px) {
			width: 80%;
		}
	}

	&__description {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 1rem auto;
		text-align: center;
		justify-content: center;

		h2, p {
			width: 90%;
			margin: 1rem auto;
		}

		p {
			font-size: 1.2rem;

			@media screen and (max-width: 800px) {
				font-size: 1.5rem;
			}
		}

		.pizza-block__selector {
			width: 60%;
			margin: 1rem auto;

			@media screen and (max-width: 800px) {
				width: 100%;
			}

			ul li {
				font-size: 1rem;
			}
		}

		.pizza-block__price {
			font-size: 1.5rem;
			
		}

		.go-back-btn {
			font-size: 1.2rem;
		}
	}
}