@import "../variables";

.sort {
  position: relative;

  &__label {
    display: flex;
    align-items: center;

    svg {
      margin: .5rem;
    }

    b {
      margin-right: .5rem;
    }

    span {
		width: 50%;
		color: $purple;
		border-bottom: 1px dashed $purple;
		cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 1rem;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 220px;
    font-size: 1rem;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(114, 12, 215, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $purple;
        }
      }
    }
  }
}
